<div class="jumbotron header">
  <h1 class="display-4">Hello, Todoler!</h1>
</div>
<div class="container" > 
  <div class="grid-container">  
    <div class="grid-item grid-item-1">
      <p class="lead">Essential</p>
      <hr class="my-4">
    </div>
    <div class="grid-item grid-item-2">
      <p class="lead">Relevant</p>
      <hr class="my-4">
    </div>
    <div class="grid-item grid-item-3">
      <p class="lead">Optional</p>
      <hr class="my-4">
    </div>
    <div class="grid-item grid-item-4">
      <p class="lead">Relax</p>
      <hr class="my-4">
    </div>
    <!-- <div>
      This is test
    </div> -->
  </div>
</div>